#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: var(--primary-color);
    border-right: 1px solid var(--sub-color);
    color: var(--sub-color);
}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: var(--sub-color);
}

#footer {
    text-align: center;
    border-top: 1px solid var(--black200);
    padding: 10px 10px 10px 250px;
    background-color: var(--primary-color);

    a {
        color: var(--black300);
        padding: 10px 20px;
        display: inline-block;

        &:hover {
            @include underline;
            text-decoration-color: var(--black300);
        }
    }
}


@media(max-width:800px) {
    #header {
        left: -260px;
    }

    #main {
        padding-left: 0;
    }

    #footer {
        padding-left: 0;
    }
}