.search__inner {
    width: 100%;
    padding: 20px 40px;
    border-bottom: 1px solid var(--sub-color);

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        border: 1px solid var(--black600);
        padding: 15px 30px;
        border-radius: 50px;
        color: var(--black);
    }
}