#today {}

.today__inner {
    display: flex;
    justify-content: center;
    height: 310px;
    border: 1px solid var(--black600);
    margin-bottom: 40px;

    .today__thumb {
        width: 40%;
        background-image: url(https://i.ytimg.com/vi/vvUOt2EBzVA/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLASBzDBxl6TayJ6-u8fr4rH9hXVeQ);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .today__text {
        width: 60%;
        height: 310px;
        color: var(--black);
        position: relative;
        padding: 30px 0 30px 20px;

        .today {
            font-size: 14px;
            background-color: var(--red);
            color: var(--white);
            border-radius: 50px;
            padding: 5px 30px;
            margin-bottom: 10px;
            display: inline-block;
        }

        .title {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .desc {
            font-size: 14px;
            color: var(--black300);
        }

        .info {
            font-size: 0.9rem;
            position: absolute;
            bottom: 10%;
            left: 20px;


            .author {
                margin-right: 10px;
                background-color: var(--black500);
                padding: 5px 10px;

                &:hover {
                    background-color: var(--black400);
                    cursor: pointer;
                }
            }

            .date {
                color: var(--black400);
            }
        }
    }
}