#today {}

.today__inner {
    display: flex;
    background-color: var(--black100);

    .today__thumb {
        width: 40%;
        background-image: url(https://i.ytimg.com/vi/vvUOt2EBzVA/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLASBzDBxl6TayJ6-u8fr4rH9hXVeQ);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .today__text {
        width: 60%;
        height: 310px;
    }
}